.cartContainer{
    display: flex;
    background-color: #3A3A3C;
    padding: 8px 16px 38px;
    margin-top: 8px;
    border-radius: 8px; 
    margin-left: 20px;
    min-width: 1200px;
    float: left
}

h2, .amount{
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.amount{
    margin-right: 10px;
}

.quantity {
flex:2
}

.infoCart{
flex:5
}

.btn {
    margin: 10px;
}

.cartWrapper{

}

.dropdown{
    margin-left: 50px;
}




