.cartContainer{
    display: flex;
    padding: 8px 16px 38px;
    margin-top: 8px;
    border-radius: 8px; 
    margin-left: 20px;
    min-width: 1000px;
    float: left
}

h2, .amount{
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.amount{
    display: flex;
    justify-content: center;
    margin-right: 165px;
}

.quantity {
    display: flex;
    flex-direction: column;
    flex: 2
}

.infoCart{
    margin: 46px;
    flex:5
}

.btn {
    margin: 10px;
}


.dropdown{
    margin-left: 50px;
}

main{

}



