.main {
    padding: 0 24px;
    width:100%;
  }
  
.productName {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
  }

.productName:hover {
    text-transform: uppercase;
  }
.infoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 12px;
}

.one{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.one .info{
width: 100%;
}

.two {
  grid-template-columns: 1fr 1fr;
}
.two .info{
width: 100%;
}

.three {
  grid-template-columns: 1fr 1fr 1fr;
}
.three .info {
  width: 100%;
}

.price, .totalPrice{

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

