.container {
    background-color: #3A3A3C;
    padding: 8px 16px 38px;
    margin-top: 8px;

    border-radius: 8px; 
  }

  .list {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #6a6a6b;
  }
  
  .container .list:last-child {
    border-bottom: none;
  }
  
  .services {
    flex: 6;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }