.dropdown{
    position: fixed;
    display:inline-block;
    padding-top:10px;
  }
  
.dropdown ul{
    position:fixed;
    background: #ffffff;;
    list-style: none;
    display:none;
    height: 400px;
    overflow-y: scroll;
}

.dropdown ul li{
    font-size: 15px;
    padding: 10px;
}

.dropdown ul li input{
    margin-right:10px;
}
  
.dropdown:hover ul{
    display:block
}

label{
    color: white
}
span{
    color:black;
}

.selectedItem {
    color: white;
}