.dropdown{
    position: fixed;
    display:inline-block;
    padding-top:10px;
  }
  
.dropdown ul{
    position:fixed;
    background: #3A3A3C;;
    list-style: none;
    display:none;
    border: 1px solid #9c9c9c;
    height: 400px;
    overflow-y: scroll;
}

.dropdown ul li{
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #a5a5a5;
}

.dropdown ul li input{
    margin-right:10px;
}
  
.dropdown:hover ul{
    display:block
}

label{
    color: white
}

.selectedItem {
    color: white;
}