body{

  font-family: 'Roboto';
  font-style: normal;
}
.main {
  padding: 0 24px;
  width: 100%;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.info {
  padding: 24px;
  margin: 8px;
  border-radius: 8px;
}

.container {

  padding: 8px 16px 38px;
  margin-top: 8px;

  border-radius: 8px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.container .list:last-child {
  border-bottom: none;
}

.services {

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.name h2 {
  height: 28px;
  font-weight: 500;
  font-size: 20px;
}

.lbl {
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.version {
  height: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.cartIcon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.productHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.nameVersion {
  display: flex;
  flex-direction: column;
}

.btnComponent {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;

}

.one .inactive .container {
  display: none;
  opacity: 0;
}


.one .active .container {
  opacity: 1;
  display: flex;
  flex-direction: column;
}

