.main {
  padding: 0 24px;
  width: 100%;
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.info {
  min-height: 465px;
  padding: 24px;
  margin: 8px;
  background: #2c2c2e;
  border-radius: 8px;
}

.container {
  background-color: #3a3a3c;
  padding: 8px 16px 38px;
  margin-top: 8px;

  border-radius: 8px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #6a6a6b;
}

.container .list:last-child {
  border-bottom: none;
}

.services {
  flex: 6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.name h2 {
  height: 28px;
  font-weight: 500;
  font-size: 20px;

  color: #ffffff;
}

.lbl {
  height: 20px;
  color: rgba(235, 235, 245, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.version {
  height: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(235, 235, 245, 0.6);
}

.cartIcon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.productHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.nameVersion {
  display: flex;
  flex-direction: column;
}

.btnComponent {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;

}

.active {
  grid-column: span 2;
  grid-row: span 2;
}

.active .info {
  padding-top: 0px;
  margin: 0;
  padding: 30px;
}

.active .version {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 30px;
}

.active .productName {
  font-size: 40px;
}

.active .container {
  padding: 10px;
  margin-left: 10px;
  padding-bottom: 100px;
}

.active .services {
  padding-top: 20px;
  font-size: 30px;
  line-height: 40px;
}

.active .price {
  padding-top: 20px;
  font-size: 30px;
  align-items: end;
}

.active .nameVersion{

}

.active .btnComponent{

}

.active .productHeader{
  padding-top: 20px;
  padding-bottom: 30px;
}
